top; configure terminal;

# configuration b0b9f2290f854ddf80e45cbbc1a64f9b generated Sun Aug 22 04:53:34 2021; firmware version 333705

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

%endif%
